{% extends "base.html" %}

{% block tag_trunk_content %}
    <div class="article">
        <div class="aside">
            <h2>Thanks!</h2>
        </div>
        <div class="content">
            <h2>Thank you.</h2>
            <p>Your input is appreciated and this is the link to your edit for future reference:</p>
            <p><a href="/story/{{ story.key().id() }}">{{ story.title }}</a></p>
            {% if document %}
                <p>Uploaded file: <a href="/dl{{ document.path }}">{{ document.name }}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
