{% extends "base_site.html" %}

{% block tag_head %}
{% block tag_stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen-all{{ CSS_MINIFIED }}.css" type="text/css" media="screen" charset="utf-8" />
	{% endblock %}
	{% block tag_additional_stylesheets %}{% endblock %}
{% endblock %}

{% block tag_body %}
{% block tag_wrapper %}
<div id="wrapper">
  {% block tag_wrapper_content %}
  {% block tag_header %}
<div id="header">
  {% block tag_header_content %}
  <div id="header-content">
    <ul id="logo">
      <li>
        <a id="link-logo" href="/"><img id="logo" src="{{ MEDIA_URL }}image/logo/en_US/text.png"></a>
      </li>
      <li id="vote-title">
        <ul class="icons">
          <li>
            <a id="link-vote-title-yes" href="/title/vote/yes"></a>
          </li>
          <li>
            <a id="link-vote-title-no" class="fancybox-dialog" href="#vote-title-no"></a>
          </li>
        </ul>
        <a id="link-vote-title" href=""><img src="{{ MEDIA_URL }}image/bg/do_you_like_title.png" /></a>
      </li>
    </ul>
  </div>
  <div id="vote-title-no" class="dialog">
    <h2>Got a better title?</h2>
    <form class="decorated-fields table" action="" method="post">
      <label for="title">
        <span class="prefix">your suggested title</span>
        <input type="text" name="title" value="" />
        <span class="suffix"></span>
      </label>
      <label for="full_name">
        <span class="prefix">full name</span>
        <input type="text" name="full_name" value="" />
        <span class="suffix"></span>
      </label>
      <label for="email_address">
        <span class="prefix">email</span>
        <input type="text" name="email_address" value="" />
        <span class="suffix"></span>
      </label>
      <label for="mobile_number">
        <span class="prefix">mobile</span>
        <input type="text" name="mobile_number" value="" />
        <span class="suffix"></span>
      </label>
      <input type="submit" name="suggest" value="Suggest" />
    </form>
  </div>
  {% endblock %}
  {% block tag_header_additional_content %}
  {% endblock %}
</div>
{% endblock %}
{% block tag_trunk %}
<div id="trunk">
    <!--ul id="nav">
      <li>
        <a href="/what"><img src="{{ MEDIA_URL }}image/icon/book.png"/></a>
        <p>What is Cutting Masala Chai?, Why Cutting Masala Chai?</p>
      </li>
      <li>
        <a href="/start"><img src="{{ MEDIA_URL }}image/icon/notepad.png"/></a>
        <p>Tell me your stories, I am listening.</p>
      </li>
      <li>
        <a href="/goodies"><img src="{{ MEDIA_URL }}image/icon/goodies.png"/></a>
        <p>Get your daily does of a cutting masala chai.</p>
      </li>
      <li>
        <a href="/start"><img src="{{ MEDIA_URL }}image/icon/sign_board.png"/></a>
        <p>Suggest a celebrity whose story you want me to cover or vote for the existing ones.</p>
      </li>
      <li>
        <a href="/chaiwala"><img src="{{ MEDIA_URL }}image/icon/author.png"/></a>
        <p>Meet the chaiwala - author of this book.</p>
      </li>
      <li>
        <a href="/release"><img src="{{ MEDIA_URL }}image/icon/register.png"/></a>
        <p>Can't wait for the book? Register and be the first to know when the book is out.</p>
      </li>
    </ul-->
  <div id="kwicksnav">
      <ul class="kwicks note" >
        <li id="kwick1">
        <a href="/what" class="nav_icon">
          <img src="{{ MEDIA_URL }}image/icon/book.png"/>
          <p class="icon_description">What is Cutting Masala Chai?</p>
        </a>
        </li>
        <li id="kwick2">        
        <a href="/start"class="nav_icon">
          <img src="{{ MEDIA_URL }}image/icon/notepad.png"/>
          <p class="icon_description">Tell me your stories, I am listening.</p>
        </a>
        </li>
        <li id="kwick3">
        <a href="/goodies"class="nav_icon">
          <img src="{{ MEDIA_URL }}image/icon/goodies.png"/>
          <p class="icon_description">Get your daily dooze of cutting masala chai.</p>
        </a>
        </li>
        <li id="kwick4">
        <a href="/start" class="nav_icon">
          <img src="{{ MEDIA_URL }}image/icon/sign_board.png"/>
          <p class="icon_description">Suggest a celebrity whose story you want me to cover or vote for the existing ones.</p>
        </a>
        </li>
        <li id="kwick5">
        <a href="/chaiwala" class="nav_icon">
          <img src="{{ MEDIA_URL }}image/icon/author.png"/>
          <p class="icon_description">Meet the chaiwala - author of this book.</p>
        </a>
        </li>
        <li id="kwick6">
        <a href="/release" class="nav_icon">
          <img src="{{ MEDIA_URL }}image/icon/register.png"/>
          <p class="icon_description">Can't wait for the book? Register and be the first to know when the book is out.</p>
        </a>
        </li>
      <ul>
  </div>
  {% block tag_trunk_content %}
  {% endblock %}
</div>
{% endblock %}
{% block tag_footer %}
<div id="footer">
  {% block tag_footer_content %}
  <div id="footer-content">
    <h2><em class="symbol">~</em> the legal stuff <em class="symbol">~</em></h2>
    <p>Copyright &copy; {{ COPYRIGHT_YEARS }} <a href="{{ OWNER_URL }}">{{ OWNER_COMPANY }}</a>.  All rights reserved.</p>
    <ul class="links">
      <li>
        <a href="/"><em class="symbol">&larr;</em> home</a>
      </li>
      <li>
        <a href="/privacy">privacy policy</a>
      </li>
      <li>
        <a href="/tos">terms of use</a>
      </li>
      <li>
        <a href="/contact">contact</a>
      </li>
    </ul>
  </div>
  {% endblock %}
</div>
{% endblock %}
{% endblock %}
</div>
{% endblock %}
{% endblock %}

{% block tag_scripts_base %}
<script type="text/javascript">
    window.scripts.push(
        {% if LOCAL %}
        "{{ TEXT_MEDIA_URL }}script/lib/chickoojs/src/jquery/tools/1.1.2/jquery.tools.min.js",
        {% else %}
        "http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js",
        {% endif %}
        "{{ TEXT_MEDIA_URL }}script/page/base{{ JS_MINIFIED }}.js");
</script>
{% endblock %}
