{% extends "base_site.html" %}

{% block tag_head %}
{% block tag_stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen-all{{ CSS_MINIFIED }}.css" type="text/css" media="screen" charset="utf-8" />
	{% endblock %}
	{% block tag_additional_stylesheets %}{% endblock %}
{% endblock %}

{% block tag_body %}
{% block tag_wrapper %}
<div id="wrapper">
  {% block tag_wrapper_content %}
  {% block tag_header %}
    <div id="header">
      {% block tag_header_content %}
      <div id="header-content">
        <ul id="logo">
          <li>
            <a id="link-logo" href="{{ app_urls.index }}"><img id="logo" src="{{ MEDIA_URL }}image/logo/en_US/text.png"></a>
          </li>
          <li id="vote-title">
            <a id="link-vote-title" href="{{ app_urls.title }}"><img src="{{ MEDIA_URL }}image/bg/do_you_like_title.png" /></a>              
          </li>
        </ul>
      </div>
      {% endblock %}
      {% block tag_header_additional_content %}
      {% endblock %}
    </div>
    {% endblock %}
    {% block tag_trunk %}
    <div id="trunk">
        <ul id="nav">
          <li>
            <a id="nav-link-what" href="{{ app_urls.about }}"></a>
            <p>What is Cutting Masala Chai? Why Cutting Masala Chai?</p>
          </li>
          <li>
            <a id="nav-link-story" href="{{ app_urls.story }}"></a>
            <p>Tell me your stories. I am listening.</p>
          </li>
          <li>
            <a id="nav-link-goodies" href="{{ app_urls.goodies }}"></a>
            <p>Get your daily dose of a cutting masala chai.</p>
          </li>
          <li>
            <a id="nav-link-celebrity" href="{{ app_urls.celebrity }}"></a>
            <p>Suggest a celebrity whose story you want me to cover or vote for the existing ones.</p>
          </li>
          <li>
            <a id="nav-link-about" href="{{ app_urls.author }}"></a>
            <p>Meet the chaiwala&mdash;the author of this book.</p>
          </li>
          <li>
            <a id="nav-link-register" href="{{ app_urls.release }}"></a>
            <p>Can't wait for the book?  Register and be the first to know when the book is out.</p>
          </li>
        </ul>
        <div id="trunk-content">
        {% block tag_trunk_content %}        
        {% endblock tag_trunk_content %}
        </div>
    </div>
    {% endblock tag_trunk %}
    {% block tag_footer %}
    <div id="footer">
      <div id="footer-content">
        {% block tag_footer_content %}
        <h2><em class="symbol">~</em> the legal stuff <em class="symbol">~</em></h2>
        <p>Copyright &copy; {{ COPYRIGHT_YEARS }} <a href="{{ OWNER_URL }}">{{ OWNER_COMPANY }}</a>.  All rights reserved.</p>
        <ul class="links">
          <li>
            <a href="{{ app_urls.index }}"><em class="symbol">&larr;</em> home</a>
          </li>
          <li>
            <a href="{{ app_urls.privacy }}">privacy policy</a>
          </li>
          <li>
            <a href="{{ app_urls.tos }}">terms of use</a>
          </li>
          <li>
            <a href="{{ app_urls.contact }}">contact</a>
          </li>
        </ul>
      </div>
      <div id="footer-aside">
      </div>
      {% endblock tag_footer_content %}
    </div>
    {% endblock tag_footer %}
    {% endblock tag_wrapper_content %}
</div>
{% endblock tag_wrapper %}
{% endblock tag_body %}


{% block tag_scripts_base %}
<script type="text/javascript">window.__hc_scripts = [
    "{{ JQUERY_URL }}",
    {% if LOCAL %}
    "{{ TEXT_MEDIA_URL }}script/lib/chickoojs/src/jquery/tools/1.1.2/jquery.tools.min.js"
    {% else %}
    "http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js"
    {% endif %}
];</script>
{% endblock tag_scripts_base %}
