{% extends "base.html" %}

{% block body_attributes %}id="page-chaiwala"{% endblock %}

{% block tag_trunk_content %}
<div class="article">
<div class="aside">
    <div id="about-the-chaiwala"><a href="">the chaiwala</a></div>
    <h2>kumaar bagrodia</h2>
    <p>your host and the author of this book</p>
    <p><a class="awesome-button" href="/write">Tell him your story &raquo;</a></p>
    <p><a href="/">&larr; back home</a></p>
</div>
<div class="content">
  <img id="image-who-is-this-chap" src="{{ MEDIA_URL }}image/heading/who_is_this_chap.png" />
  <p class="intro"><em>Financial planning</em> <em class="amp">&amp;</em> analysis, credit research, business processes re-engineering, program management, solution design&mdash;are some of the terms which can be found along Kumaar's career graph. So much for authoring a book titled Cutting Masala Chai!
</p>
<p>
A restless guy, with an incessantly active mind and multiple initiatives on his plate, his passion to bring about positive change is indomitable. His quest for change led him to become the Chief Evangelist for <strong>'Who Moved My Cheese?'</strong> in India, and the exclusive certified Master Trainer and Executive Coach by <strong>Spencer Johnson Partners</strong>.
</p>
<p>
Born in Kolkata in a Marwari family, lived as a South Mumbai 'townie' and studied at Oxford University, Kumaar worked across variegated organizations before he found his true calling. And thus happened <a href="http://www.leapvault.com/">LeapVault</a>, a firm that provides specialized services in the areas of executive recruitment, coaching, training and organization development. As an executive coach, Kumaar meets people from all walks of life. He listens to their stories, understands their background and gets to know the individual behind the persona. Over time, he observed people all around him and realized <strong>the power that people carried within themselves</strong>. The power to fight all odds. And win against those odds. People inspired other people, he thought. This further catalysed his thoughts of penning Cutting Masala Chai - <strong>a book on real stories of real people</strong>.</p>
</div>
</div>
{% endblock %}
