{% extends "base.html" %}

{% block body_attributes %}id="page-start"{% endblock %}

{% block tag_trunk_content %}
<img src="{{ MEDIA_URL }}image/heading/tell_me_when_book_is_out.png" class="heading" />
<div class="article">
  <div class="aside">
    <h2>Got a better title to suggest?</h2>
    <p><a class="awesome-button" href="{{ app_urls.title }}">Suggest your title</a> for this book.</p>
  </div>
  <div class="content">
      <form id="form-notify-reader" class="decorated-fields vertical" action="/release" method="POST">
        <label for="full_name">
          <span class="prefix">full name</span>
          <input type="text" name="full_name" value="" class="required capitalize" />
          <span class="suffix"></span>
        </label>

        <label for="email">
          <span class="prefix">email</span>
          <input type="text" name="email" value="" class="required email" />
          <span class="suffix">(eg. john@doe.com)</span>
        </label>

        <label for="mobile_number">
          <span class="prefix">mobile number</span>
          <input type="text" name="mobile_number" value="" class="required mobile" />
          <span class="suffix">Include your <a href="http://en.wikipedia.org/wiki/List_of_country_calling_codes" target="_blank"> country code</a> and full mobile number. eg. +1 650 555 1212</span>
        </label>

        <label for="submit">
          <span class="prefix"></span>
          <input type="submit" class="awesome-button large" name="submit" value="&#10004; Notify me" />
          <span class="suffix"></span>
        </label>
      </form>
  </div>
</div>
{% endblock %}

