{% extends "base.html" %}

{% block html_attributes %}xmlns:fb="http://www.facebook.com/2008/fbml"{% endblock %}

{% block body_attributes %}id="page-start"{% endblock %}

{% block tag_trunk_content %}
<h1>I'm <span>listening</span>.</h1>
<div class="article">
    <div class="aside">
      <h2>So, What's the Recipe for the Perfect Cutting Masala Chai?</h2>
      <p>Honestly, there isn't one&mdash;each person has their own unique blend, but here goes: The story should quench the readers thirst for inspiration, motivation; it should invigorate, be refreshing, offer nourishment, or be soothing and aromatic or strong and heady. There should be a positive message&mdash;a life lesson, an inspiring take away, a lighter side to a grave problem or situation.</p>
      <p>True stories. No fiction. <strong>Length:</strong> 300 to 900 words. <strong>Stories: </strong> Of personal triumph over myriad obstacles; of survival, of winners, fighters, people who believed in their own dreams and fought with determination to achieve them or are still fighting&mdash;in career, business, health, relationships, love.</p>
      <p>Of acts of greatness&mdash;whatever it maybe: sacrifice, love, bravery, kindness, selflessness, patriotism, compassion, generosity, integrity, undying faith in oneself, in god, hard work and determination in the face of adversity, Of social entrepreneurs, rural innovators who change the game for others despite their own problems.</p>
      <p>NO discussion or rambles or personal viewpoints on Politics, government policy, religion or any controversial issues. NO personal biographies or essays, research reports or thesis or book manuscripts / proposals.</p>
      <h2>Cash Payment:</h2>
      <p>None to be made to you. None needed from you.</p><p> Your story definitely means a lot to you&mdash;it is invaluable and cannot be bought for money. This is an opportunity to make a difference by getting the story across to the world to inspire and motivate others. Along with your story (if selected), we will publish your name and a short profile. Also, our site will link to your webpage / social profile. Its ok if you have blogged or published it earlier as long as you have complete ownership and authority to submit it to us. Copyright of your stories shall stay with you and you will receive a copy of the published book.</p>
    </div>

  <div class="content">
    {% if request_too_large_error %}
        <p class="error">Kindly try uploading a file smaller than 1 MB.  The last upload was bigger than we can accept.</p>
    {% endif %}
    <div id="google-friend-connect"></div>
    <a href="{{ logout_url }}">Log out or signin as a different user</a>
    <form id="form-story" class="decorated-fields vertical" action="" method="post" enctype="multipart/form-data">
        <div id="user-box">
        <fb:login-button length="long" autologoutlink="true" onlogin="fbUpdateUserBox();"></fb:login-button>
        </div>
        <label for="title">
            <span class="prefix">story title</span>
            <input type="text" name="title" value="{{ title }}" class="required" />
            <span class="suffix"></span>
        </label>

        <label for="content">
          <span class="prefix">write your story here</span>
          <textarea name="content" cols="65" rows="20" class="required">{{ content }}</textarea>
          <span class="suffix">You can also edit this sotry latter, just bookmark the url you recieve after submitting.</span>
        </label>

        <label>
          OR
        </label>

        <label for="document">
          <span class="prefix">upload your story here</span>
          <input type="file" name="document" value="" />
          <span class="suffix">Please upload a small (less than 1 MB) .doc, .pdf, or a .txt file.</span>
        </label>
        
        <label for="full_name">
          <span class="prefix">full name</span>
          <input type="text" name="full_name" value="{{ full_name }}" class="required capitalize" />
          <span class="suffix"></span>
        </label>
        <label for="email">
          <span class="prefix">email</span>
          <input type="text" name="email" value="{{ email }}" class="required email" />
          <span class="suffix">(eg. john@doe.com)</span>
        </label>
        <label for="mobile_number">
          <span class="prefix">mobile number</span>
          <input type="text" name="mobile_number" value="{{ mobile_number }}" class="required mobile" />
          <span class="suffix">Include your <a href="http://en.wikipedia.org/wiki/List_of_country_calling_codes" target="_blank"> country code</a> and full mobile number. eg. +91 650 555 1212</span>
        </label>

      <label for="submit">
        <span class="prefix"></span>
        <input type="submit" class="awesome-button large" name="submit" value="&#10004; Send story" />
        <span class="suffix">By clicking Send story, you hereby agree with our <a href="{{ app_urls.tos }} target="_blank">terms of service</a> and <a href="{{ app_urls.privacy }}"" target="_blank">privacy policy</a>.</span>
      </label>
    </form>
  </div>
</div>

{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  // Setup the Facebook API key and cross domain receiver url.
  window.fb = window.fb || {};
  window.fb.apiKey = "{{ FACEBOOK_API_KEY }}";
  window.fb.crossDomainReceiverUrl = "{{ FACEBOOK_CROSS_DOMAIN_RECEIVER_URL }}";
  window.gfc = window.gfc || {};
  window.gfc.siteId = "{{ GOOGLE_FRIEND_CONNECT_SITE_ID }}";
  window.gfc.divId = "google-friend-connect";
  window.__hc_scripts.push(
  "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php",
  "http://www.google.com/friendconnect/script/friendconnect.js",
  "{{ TEXT_MEDIA_URL }}script/page/start{{ JS_MINIFIED }}.js"
  );
</script>
{% endblock %}
