{% extends "base.html" %}

{% block html_attributes %}xmlns:fb="http://www.facebook.com/2008/fbml"{% endblock %}

{% block body_attributes %}id="page-start"{% endblock %}

{% block tag_trunk_content %}
<div class="article">
  <div class="aside">
    <h2>we're listening</h2>
    <img id="image-two-friends" src="{{ MEDIA_URL }}image/picture/two_friends.jpg" class="polaroid" />
  </div>
  <div class="content">
    <div id="google-friend-connect"></div>
    <form id="" class="decorated-fields vertical" action="/" method="post">
        <div id="user-box">
        <fb:login-button length="long" autologoutlink="true" onlogin="fbUpdateUserBox();"></fb:login-button>
        <label for="full_name">
          <span class="prefix">full name</span>
          <input type="text" name="full_name" value="" class="required capitalize" />
          <span class="suffix"></span>
        </label>
        <label for="email">
          <span class="prefix">email</span>
          <input type="text" name="email" value="" class="required email" />
          <span class="suffix">(eg. john@doe.com)</span>
        </label>
        </div>
        <label for="mobile_number">
          <span class="prefix">mobile number</span>
          <input type="text" name="mobile_number" value="" class="required mobile" />
          <span class="suffix">Include your <a href="http://en.wikipedia.org/wiki/List_of_country_calling_codes" target="_blank"> country code</a> and full mobile number. eg. +91 650 555 1212</span>
        </label>

        <label for="write_story">
          <span class="prefix">write your story here</span>
          <textarea name="biosketch" cols="30" rows="5" class="required"></textarea>
          <span class="suffix">You can also edit this sotry latter, just bookmark the url you recieve after submitting.</span>
        </label>

        <label>
          OR
        </label>

        <label for="upload_story">
          <span class="prefix">upload your story here</span>
          <input type="file" name="upload_story" value="" />
          <input type="hidden" name="story_filename" value="" />
          <span class="suffix">Please upload a small .doc, .pdf, or a .txt file.</span>
        </label>

      <label for="submit">
        <span class="prefix"></span>
        <input type="submit" class="awesome-button large" name="submit" value="&#10004; Submit your story" />
        <span class="suffix"></span>
      </label>
    </form>
  </div>
</div>

{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  // Setup the Facebook API key and cross domain receiver url.
  window.fb = window.fb || {};
  window.fb.apiKey = "{{ FACEBOOK_API_KEY }}";
  window.fb.crossDomainReceiverUrl = "{{ FACEBOOK_CROSS_DOMAIN_RECEIVER_URL }}";
  window.gfc = window.gfc || {};
  window.gfc.siteId = "{{ GOOGLE_FRIEND_CONNECT_SITE_ID }}";
  window.gfc.divId = "google-friend-connect";
  window.scripts.push(
  "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php",
  "http://www.google.com/friendconnect/script/friendconnect.js",
  "{{ TEXT_MEDIA_URL }}script/page/start{{ JS_MINIFIED }}.js"
  );
</script>
{% endblock %}
