{% extends "base.html" %}

{% block body_attributes %}id="page-suggest-title"{% endblock %}

{% block tag_trunk_content %}
<div class="article">
    <div class="aside">
        <h2>Want to be notified when the book comes out?</h2>
        <p><a class="awesome-button" href="/release">Tell me</a> when the book is out.</a></p>
    </div>
    <div class="content">
        <h1>Got a better title in mind?</h1>
        <form class="decorated-fields table" action="" method="post">
          <label for="title">
            <span class="prefix">your suggested title</span>
            <input type="text" name="title" value="" />
            <span class="suffix"></span>
          </label>
          <label for="full_name">
            <span class="prefix">full name</span>
            <input type="text" name="full_name" value="" />
            <span class="suffix"></span>
          </label>
          <label for="email_address">
            <span class="prefix">email</span>
            <input type="text" name="email_address" value="" />
            <span class="suffix"></span>
          </label>
          <label for="mobile_number">
            <span class="prefix">mobile</span>
            <input type="text" name="mobile_number" value="" />
            <span class="suffix"></span>
          </label>
          <input type="submit" name="suggest" value="Suggest" />
        </form>
    </div>
</div>

{% endblock %}
